<%- include('./includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= name %></h3>
  <p><%= content %></p>
  <img src="https://in-shorts-pi.vercel.app/api/v1/mail/image?id=<%= id %>" alt="" srcset="">
</div>

<%- include('./includes/footer.ejs') %>